[submodule "templates"]
	path = templates
	url = https://github.com/Jim-Duke/LilypondTemplates
[submodule "publicDomainHymns"]
	path = publicDomainHymns
	url = https://github.com/Jim-Duke/publicDomainHymns
