<!DOCTYPE html>
  <html>
    <head>
      <title>{{ page.title }}</title>
      <!-- link to main stylesheet -->
      <link rel="stylesheet" type="text/css" href="/bumbyextras/css/main.css">
    </head>
    <body>
      <nav>
        <ul>
          <li><a href="/bumbyextras/">Home</a></li>
          <li><a href="/bumbyextras/about">About</a></li>
          <li><a href="/bumbyextras/hymns">Hymns</a></li>
        </ul>
      </nav>
      <div class="container">

      {{ content }}
			
      </div><!-- /.container -->
      <footer>
        <ul>
          <li><a href="mailto:jim@dukeboys.org">email</a></li>
        </ul>
      </footer>
    </body>
  </html>
